
.nav-links {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: 10px;
}
ul.nav-links {
    display: inline-block;
    width: 90%;
    bottom: 70px;
}

li {
    float: right;
    display: inline-block;
    padding: 10px;
}

.main {
    float: left;
    width: 50%;
    padding: 20px;
}

.sub-section {
    float: right;
    width: 40%;
    padding: 20px;
}

footer {
    clear: both;
}

.header-img {

}
