
/* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {
    .alert-info {
        background-color: blue;
        border: 1px solid #999;
        padding: 8px;
        text-align: center;

    }

    .alert-info a {
        text-decoration: none;
    }

     h1 {
        text-align: center;
        display: inline-block;
    }

    .nav-links li {
        background-color:gray;
        text-align: center;
        clear: left;

    }



}

body {
    max-width: 900px;
    margin: 0 auto;
}


.nav-links {
    list-style-type: none;
    float: right;
}
ul.nav-links {
    display: inline-block;
}

h1 {
    float: left;
}

li {
    display: inline-block;
    padding: 10px;
}

.main {
    float: left;
    width: 50%;
    padding: 20px;
}

.sub-section {
    float: right;
    width: 40%;
    padding: 20px;
}

footer {
    clear: both;
}

.header-img {
    margin: 0 auto;
    clear: both;
}
